[Unit]
Description=Shadowsocks Client Service

[Service]
Type=forking
ExecStart=/usr/local/bin/sslocal -c /etc/shadowsocks/config.json --pid-file /var/run/shadowsocks.cole.pid -d restart
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
